@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;500&display=swap');

/* built-in */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: auto;    
    font-size: 18px;
    font-weight: 300;
    font-family: 'Commissioner', sans-serif;    
    background-color: #000000;
}

img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    box-shadow : 0px 0px 5px 0 rgba(0, 0, 0, 0.5);
}

a {
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
}

h1 {
    font-size: 22px;
    font-weight: 500;
    margin-block-start: 0px;
}

h6 {
    font-style: italic;
}

p {
    margin-block-start: 0px;
    margin-block-end: 10px;
}

code {
    white-space: break-spaces;
    overflow-wrap: break-word;
    font-size: 14px;
    font-family: monospace;
    line-break: auto;
}

textarea,input {
    font-family: 'Commissioner', sans-serif;    
    font-weight: 300;
}

textarea:focus, input:focus{
    outline: none;
}

/* page structure */

main {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.card {
    box-sizing: border-box;
    padding-left: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: block;
    width: 300px;
    height: 300px;
    color: #FFFFFF;
    font-weight: 500;
    text-shadow: 2px 2px 2px #000000;
    /* background-position: center; */
}

.topstripe {
    padding: 5px;
    background-color: #00000066;
}

.clicker {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#card-milgra {
    background-image: url("images/portrait.png");
    background-color: #36dc9e;
}

#card-termite {
    background-image: url("images/termite.png");
    background-color: #abcdef;
}

#card-cortex {
    background-image: url("images/cortex.png");
    background-color: #efabcd;
}

#card-brawl {
    background-image: url("images/brawl.png");
    background-color: #cdefab;
}

#card-cljs-brawl {
    background-image: url("images/cljs-brawl.png");
    background-color: #cdefab;
}

#card-controlroom {
    background-image: url("images/controlroom.png");
    background-color: #ef19bd;
}

#card-cljs-mpd {
    background-image: url("images/cljs-mpd.png");
    background-color: #5794fe;
}

#card-vmp {
    background-image: url("images/vmp.png");
    background-color: #5794fe;
}

#card-mmfm {
    background-image: url("images/mmfm.png");
    background-color: #5794fe;
}

#card-sov {
    background-image: url("images/sov.png");
    background-color: #5794fe;
}

#card-wcp {
    background-image: url("images/wcp.png");
    background-color: #5794fe;
}

#card-swayos {
    background-image: url("images/swayos.png");
    background-color: #5794fe;
}

#card-classc {
    background-image: url("images/classc.png");
    background-color: #5794fe;
}

#card-milenia {
    background-image: url("images/milenia.png");
    background-color: #5794fe;
}

#card-remotion {
    background-image: url("images/remotion.png");
    background-color: #5794fe;
}

#card-fatfingers {
    background-image: url("images/fatfingers.png");
    background-color: #5794fe;
}

#card-prezi3d {
    background-image: url("images/prezi3d.png");
    background-color: #5794fe;
}

#card-kineticui {
    background-image: url("images/kineticui.png");
    background-color: #5794fe;
}

#card-laserscan {
    background-image: url("images/laserscan.png");
    background-color: #5794fe;
}

#card-raytrace {
    background-image: url("images/raytrace.png");
    background-color: #5794fe;
}

#card-headerlessc {
    background-image: url("images/headerlessc.png");
    background-color: #5794fe;
}

#card-mmkf {
    background-image: url("images/mmkf.png");
    background-color: #5794fe;
}

#card-asqf {
    background-image: url("images/asqf.png");
    background-color: #5794fe;
}
